<div class="my-4">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name">Meal Name</label>
      <input type="text" class="form-control my-3" formControlName="name" placeholder="e.g English Breakfast">
      <div class="alert alert-danger" *ngIf="required">Workout is required</div>
    </div>

    <div class="form-group my-4" formArrayName="ingredients">
      <label class="d-flex my-4" *ngFor="let c of ingredients.controls; index as i;">
        <input [formControlName]="i" type="text" class="form-control">
        <button class="btn btn-primary mx-2" (click)="addIngredient()"><i class="bi-plus"></i></button>
        <button class="btn btn-danger " (click)="removeIngredient(i)"><i class="bi-trash"></i></button>
      </label>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary btn-sm" *ngIf="!exists" (click)="createMeal()">Create Meal</button>
        <button type="button" class="btn btn-primary btn-sm" *ngIf="exists" (click)="updateMeal()">Save Meal</button>
        <button type="button" class="btn btn-danger  btn-sm " style="margin-left: 2px"
          [routerLink]="['../']">Cancel</button>
      </div>

      <div class="d-flex" *ngIf="exists">
        <div class="position-relative" *ngIf="toggled">
          <div class=" position-absolute top-100 start-0 alert alert-info" style="width: 24vw;">
            <div class="mb-1">
              Are you sure you want to delete this?
            </div>


            <button class="btn btn-danger me-1 btn-sm" type="button" (click)="removeMeal()">Yes</button>
            <button class="btn btn-outline-danger btn-sm" type="button" (click)="toggle()">No</button>

          </div>
        </div>
        <button class="btn btn-success btn-sm" type="button" (click)="toggle()">Delete</button>

      </div>
    </div>
  </form>
</div>
