<div class="">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name">Meal Name</label>
      <input type="text" class="form-control my-3" formControlName="name" placeholder="e.g English Breakfast">
      <div class="alert alert-danger" *ngIf="required">Workout is required</div>
    </div>

    <div class="form-group my-4" formArrayName="ingredients">
      <label class="d-flex my-4" *ngFor="let c of ingredients.controls; index as i;">
        <input [formControlName]="i" type="text" class="form-control">
        <button class="btn btn-primary mx-2" (click)="addIngredient()">Add</button>
        <button class="btn btn-danger " (click)="removeIngredient(i)">Delete</button>
      </label>
    </div>
    <button type="button" class="btn btn-primary" (click)="createMeal()">Add Food</button>
    <button type="button" class="btn btn-danger mx-3" [routerLink]="['../']">Cancel</button>
  </form>
</div>
