<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">


      <a class="btn btn-primary" routerLink="/meals/new">Create New</a>

      <hr>



      <div *ngIf="meals$ |async as meals;else loading;">
        <div *ngIf="!meals">
          No meals, add a new meal to start
        </div>

        <list-item (remove)="remove($event)" *ngFor="let meal of meals" [item]="meal">

        </list-item>

      </div>
      <ng-template #loading>
        <div class="skeleton-1pi0n81px78"></div>
      </ng-template>
    </div>
  </div>
</div>
