/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

a {
  text-decoration: none;
}

.auth-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.nav-item {
  .nav-link {
    padding: 10px 0px;
  }
  .active {
    background-color: darkgoldenrod;
    color: white !important;
  }
}
